* {
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  width: 100vw;
  height: 100vh; 
  box-sizing: border-box;
}

button, a {
  cursor: pointer;
}

button:focus {
  outline:none;
}

input:focus {
    outline: none;
}

.general-container {
  display: flex;
  flex-direction: column;
  max-width: 830px;
  height: 100%;
  margin: 0 auto;
  background: var(--main-screen-background);
}

@media (max-width: 600px) {
  .general-container {
    max-width: 600px;
  }
}
