* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: 100vh;
  /* overflow: scroll; */
}

button {
  border: none;
  background: none;
}

button, a {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus {
    outline: none;
}
