:root {
    --button-background: #64AAFA;
    --button-background-gradient: linear-gradient(#64aafa, #6aecb465);
    --button-background-gradient-deg: linear-gradient(#64aafa, #6aecb4);
    --text-color: rgb(228, 228, 228);
    --box-container-gradient: linear-gradient(#bdc3c760, #2c3e50a6);
}