:root {
    --title-details-header: #070707de;
    --button-background: #64AAFA;
    --button-background-gradient: linear-gradient(#64aafa, #6aecb465);
    --button-background-hover: linear-gradient(#64aafa, #6aecb4);
    --text-color: rgb(228, 228, 228);
    --box-container-gradient: linear-gradient(#bdc3c760, #97a6b6a6);
    --main-screen-background: white;
    /* linear-gradient(to top, #ee9ca7, #ffdde1); */
    --footer-background: #bdc3c7ad;
    --btn-category-background: #71c1ffbd;
}
