.details-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}

.header-details {
  width: 100%;
  position: relative;
}

.details-img {
  width: 100vw;
  opacity: 0.8;
}

.header-details-title {
  position: absolute;
  top: 10px;
  left: 20px;
  color: var(--title-details-header);
  text-shadow: 1px 2px 5px black
}

.container-details {
  position: relative;
  width: 600px;
  background: white;
}

.container-share {
  display: flex;
  margin: 5px auto;
  width: 100px;
  align-items: center;
  justify-content: space-evenly;
}

[alt="share-icon"] {
  width: 47px;
}

.container-ingredient,.intructions-container , .video-container, .recomment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.intructions-container p {
  margin: 0 2em;
}

.titles {
  color: black;
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  letter-spacing: 0.03em;
  line-height: 30px;
  top: 242px;
  margin: 20px 0 10px; 
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 100vw;
}

.button-start {
  width: 100vw;
  padding: 10px 20px;
}

.button-start a, .button-start button {
  font-size: 16px;
  color: aliceblue;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.63);
  background: var(--button-background-gradient);
  border-radius: 50px;
  width: 100%;
  padding: 10px 0;
  transform: scale(1);
  border: 2px solid rgba(27, 75, 105, 0.37);
  transition: transform 100ms linear;
}

.button-start button:hover {
  background: var(--button-background-hover);
  transition: transform 100ms linear;
  transform: scale(1.1);
}

@media (min-width: 500px) {
  .card-general-container {
    max-width: 500px;
  }

  .button-start {
    width: 100vw;
    padding: 10px 60px;
  }

  .button-start a, .button-start button {
    font-size: 18px;
  }

  .header-details-title {
    font-size: 25px;
  }

}
