.details-container {
  min-width: 320px;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}

.header-details {
  width: 100%;
  position: relative;
}

.details-img {
  width: 100vw;
}

.header-details-title {
  position: absolute;
  top: 10px;
  left: 20px;
  color: var(--title-details-header);
}

.container-details {
  position: relative;
  width: 600px;
  background: white;
}

.container-share {
  display: flex;
  margin: 5px auto;
  width: 100px;
  align-items: center;
  justify-content: space-evenly;
}

.container-ingredient,.intructions-container , .video-container, .recomment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.intructions-container p {
  margin: 0 2em;
}

.titles {
  color: black;
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  letter-spacing: 0.03em;
  line-height: 30px;
  top: 242px;
  margin: 20px 0 10px; 
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 100vw;
}

