.details-container {
  position: relative;
  width: 360px;
  height: 1034px;
  background: #FFF;
}

.details-img {
  position: absolute;
  width: 360px;
  height: 155px;
}

.details-title {
  position: absolute;
  width: 182px;
  height: 35px;
  left: 8px;
  top: 165px;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: flex-end;
}

.details-sub {
  position: absolute;
  width: 73px;
  height: 25px;
  left: 9px;
  top: 190px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  color: #a9a9a9;
}

.ingredients {
  position: absolute;
  width: 341px;
  left: 10px;
  top: 279px;
  background: #ececec;
  border-radius: 4px;
}

.ingredients, ul, li {
  position: absolute;
  width: 341px;
  left: 10px;
  top: 279px;
  background: #ececec;
  border-radius: 4px;
}

.titles {
  position: absolute;
  width: 138px;
  height: 30px;
  left: 10px;
  top: 242px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.03em;
  color: #000000;
}

.video {
  position: absolute;
  width: 341px;
  height: 200px;
}