.general-container {
  display: flex;
  flex-direction: column;
  max-width: 830px;
  height: 100%;
  margin: 0 auto;
  background: var(--main-screen-background);
}

@media (max-width: 600px) {
  .general-container {
    max-width: 600px;
  }
}

.category-btn-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* .category-btn {
  height: 90px;
  width: 80px;
  display: flex;
  flex-direction: column;
  background: var(--btn-category-background);
  padding: 15px 10px;
  color: white;
  font-weight: 700;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgb(61, 83, 92);
} */

.category-btn {
  box-sizing: border-box;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
  background: var(--btn-category-background);
  padding: 10px 10px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgb(61, 83, 92);
}

.category-btn img {
  width: 40px;
  /* margin: auto; */
}

.card-container {
  background: white;
  border-radius: 6px;
  box-shadow: 0.1px 4px 4px rgba(0, 0, 0, 0.25);
  height: 172px;
  margin: 10px;
  width: 150px;
}

.card-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.card-general-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card-img {
  border-radius: 6px 6px 0.1px 0.1px;
  height: 109px;
  width: 150px;
}

.card-name {
  text-align: center;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: 21px;
  line-height: 21px;
  text-decoration: none;
  width: 110px;
  padding-top: 20px; 
}

/* .drink-title {
  position: absolute;
  margin: 30px 0;
} */
