.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(128, 128, 128, 0.582), rgba(128, 128, 128, 0.199)),
    url('https://images.pexels.com/photos/3471790/pexels-photo-3471790.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  padding: 15px 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 4px 3px 3px rgb(51, 55, 56);
  margin-bottom: 10px;
}

.profileIcon {
  width: 50px;
}

.searchIcon {
  border: none;
  background: none;
}

.searchIcon img {
  width: 50px;
}

.pageTitle {
  color: rgb(247, 243, 243);
  font-size: 35px;
  text-shadow: 2px 3px 3px rgba(51, 48, 48, 0.89);
}

.search-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 220px;
  background: rgb(163, 67, 67);
  position: absolute;
  top: 110px;
  left: 60%;
  border-radius: 6px;
  padding: 7px;
}

.radio-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: auto;
}

.input-container {
  margin: 0 auto;
  padding-bottom: 10px;
}

.input-container input {
  width: 150px;
  padding: 2px;
  border-radius: 6px;
}

.radio {
  font-size: 16px;
}

@media (max-width: 600px) {
  .search-container {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
  }
}
