header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
  padding: 0 15rem;
}

h1.pageTitle {
  font-size: 35rem;
  text-align: center;
}

h1.pageTitle ~ div {
  width: 60rem;
}

header button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10rem 15rem;
}

header button:focus {
  background-color: #dbd5d5;
  outline: none;
}

div .hidden {
  background: rgb(211, 69, 69);
  display: none;
  font-size: 40rem;
}
